<div class="attempt" id="<%= @attempt.id %>" data-attempts="<%= @attempt.words %>" <%= 'data-finished="true"' if @attempt.finished %>>
  <div class="game-state text-center">
    <% if @attempt.finished %>
      <% if @attempt.solved %>
        Solved
      <% else %>
        Game Finished
      <% end %>
    <% else %>
      Guess the word
    <% end %>
  </div>
  <% @grid.each_with_index do |word, index| %>
    <div class="word d-flex align-items-center justify-content-between <%= word.join.length.zero? ? 'empty' : 'filled' %> <%= 'active' if active_word(@attempt, index) %>">
      <% word.each_with_index do |letter, index| %>
      <div class="letter my-1 mx-1 d-flex align-items-center justify-content-around"
        style="<%= letter_background(letter, index, @game.word) %>">
        <%= letter.upcase %>
      </div>
      <% end %>
    </div>
  <% end %>
  <div class="text-center mt-3 <%= 'd-none' unless @attempt.finished %>">
    <% if @attempt.finished %>
      <div class="btn-btn-success">
        <% if @attempt.solved %>
          Well Done! You earned <b><%= @attempt.points %> Points</b>
        <% else %>
          The word was <b><%= @game.word %></b>
        <% end %>
      </div>
    <% end %>
    <br>
    <%= link_to "Next Game", game_path(@game.next), data: { turbolinks: false } %>
  </div>
</div>
