<div class="container d-flex flex-column align-items-center justify-content-around">
  <div class="row d-flex align-items-center justify-content-around">
    <div class="attempt" id="<%= @attempt.id %>" data-attempts="<%= @attempt.words %>" <%= 'data-finished="true"' if @attempt.finished %>>
      <div class="game-state text-center">
        <% if @attempt.finished %>
          <% if @attempt.solved %>
            Solved
          <% else %>
            Game Finished
          <% end %>
        <% else %>
          Guess the word
        <% end %>
      </div>
      <% @grid.each_with_index do |word, index| %>
        <div class="word d-flex align-items-center justify-content-between <%= word.join.length.zero? ? 'empty' : 'filled' %> <%= 'active' if active_word(@attempt.words, index) %>">
          <% word.each_with_index do |letter, index| %>
            <div class="letter my-1 mx-1 d-flex align-items-center justify-content-around"
              style="<%= letter_background(letter, index, @game.word) %>">
              <%= letter.upcase %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if @attempt.finished %>
        <div class="text-center mt-3">
          <%= link_to "Next Game", game_path(@game.next) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="d-none">
  <%= simple_form_for @attempt do |f| %>
    <%= f.input :words, as: :hidden %>
  <% end %>
</div>

<script>
  if(!document.querySelector(".attempt").dataset.finished) {
    document.addEventListener("keyup", (event) => {
      let emptyWord = document.querySelector(".empty");
      let wordLetters = Array.from(emptyWord.children).map(letter => letter.innerText);
      let index = wordLetters.indexOf("");
      let temporaryLetters = wordLetters.filter(w => w !== "")
      if (temporaryLetters.length === 4) {
        document.querySelector(".word.active").classList.add('enter')
      }

      if ((event.keyCode >= 65 && event.keyCode <= 90) || event.key === "Backspace" ) {
        if (event.key === "Backspace") {
          let enterPrompt = document.querySelector(".word.active.enter")
          if (enterPrompt) {
            enterPrompt.classList.remove('enter')
          }
          if (temporaryLetters.length > 0) {
            let indexLastTypedLetter = temporaryLetters.length - 1
            emptyWord.children[indexLastTypedLetter].style.backgroundColor = 'grey'
            emptyWord.children[indexLastTypedLetter].innerText = "";
          }
        } else {
          if (index >= 0) {
            emptyWord.children[index].style.backgroundColor = '#3a3a3c'
            emptyWord.children[index].innerText = event.key.toUpperCase();
          }
        }
      } else if (event.key === "Enter" && temporaryLetters.length === 5) {
        let form = document.querySelector("form");
        let input = document.querySelector("#attempt_words");
        let existingAttempts = JSON.parse(document.querySelector(".attempt").dataset.attempts);
        let attempt = Array.from(emptyWord.children).map(letter => letter.innerText).filter(w => w !== "").join('')
        existingAttempts.push(attempt);
        input.value = existingAttempts;
        form.submit()
      }
    })
  }
</script>
