<div class="container mt-2 mb-5 d-flex flex-column align-items-center justify-content-around">
  <div class="row d-flex align-items-center justify-content-around">
    <%= render "grid" %>
  </div>
</div>
<%= render "keyboard" %>

<div class="d-none">
  <%= simple_form_for @attempt, authenticity_token: true, html: { remote: true } do |f| %>
    <%= f.input :words, as: :hidden %>
    <%= f.submit class: "form-submit" %>
  <% end %>
</div>
